In [1]:
#mapfuntion maps a funtion to an iterable object.
def square(num):
  return num**2

In [2]:
my_nums = [1,2,3,4,5]

In [3]:
map(square,my_nums)

In [4]:
list(map(square,my_nums))

[1, 4, 9, 16, 25]

In [14]:
def splicer(mystring):
    if len(mystring) % 2 == 0:
       return 'even'
    else:
       return mystring[0]

In [8]:
mynames = ['John','cindy','Sarah','kelly','mike']

In [15]:
list(map(splicer,mynames))

['even', 'c', 's', 'k', 'even']

In [17]:
def check_even(num):
    return num % 2 == 0

In [18]:
nums = [0,1,2,3,4,5,6,7,8,9,10]

In [19]:
filter(check_even,nums)                         #filter

In [20]:
list(filter(check_even,nums))

[0, 2, 4, 6, 8, 10]

In [21]:
#lambda single statement

def square(num):
    result = num**2
    return result

In [22]:
square(2)

4

In [24]:
def square(num): return num**2