In [ ]:
nums = [1,2,3,4,5,6,7,8]

In [ ]:
for num in nums:
  print(num)

1
2
3
4
5
6
7
8

In [ ]:
for num in nums[::-1]:
  print(num)

8
7
6
5
4
3
2
1

In [ ]:
for i in range(0,10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
for i in range(0,10):
  print(i, end = ' ')

0 1 2 3 4 5 6 7 8 9

In [ ]:
for num in range(0,11):
  if num  % 2 == 0:
    print(num)

0
2
4
6
8
10

In [ ]:
#sum of n natural numbers
n = int(input("enter a positive number:"))

sum = 0

for i in range(n+1):
  sum += i

print(sum)

enter a positive number:5
15

In [ ]:
#break= out of the loop,continue= from the start

for i in range(10):
  if i == 2:
    print('skipping')
    continue
  if i == 5:
    print('breaking')
    break
  print(i)
print('FINISHED')

0
1
skipping
3
4
breaking
FINISHED

In [ ]:
#while repeatedly executes same statement until the condition is true

x = 0

while x < 5:
  print("x is currently: ",x)
  print("x is still less than 10, adding 1 to x")
  x += 1

x is currently:  0
x is still less than 10, adding 1 to x
x is currently:  1
x is still less than 10, adding 1 to x
x is currently:  2
x is still less than 10, adding 1 to x
x is currently:  3
x is still less than 10, adding 1 to x
x is currently:  4
x is still less than 10, adding 1 to x

In [ ]:
num = 0

while num < 5:
  print(num)
  num += 1
else:
  print('Executing')

0
1
2
3
4
Executing

In [ ]:
n = int(input('enter a postive number:'))

sum = 0

for i in range(n+1):

   sum += i

print(sum)

enter a postive number:5
15

In [ ]:
n = int(input("enter a positive number"))

sum = 0

for i in range(n+1):

  sum += i

print(sum)

enter a positive number8
36

In [ ]:
for i in range(10):
  if i == 2:
    print('skipping')
    continue
  if i == 5:
    print('Breaking')
    break
  print(i)
print('finished')

0
1
skipping
3
4
Breaking
finished

In [ ]:
i = 0

while 1==1:
  print(i)
  i +=1
  if i>= 5:
    print("Breaking")
    break

print("Finished")

0
1
2
3
4
Breaking
Finished

In [ ]:
#largest among three

num1 = int(input("Enter first number"))
num2 = int(input("Enter second number"))
num3 = int(input("Enter third number"))

if(num1 >= num2) and (num1 >= num3):
  largest = num1
elif(num2 >= num3) and (num2 >= num1):
  largest = num2
else:
  largest = num3

print(f"The largest among {num1} , {num2} , {num3} is {largest}")

Enter first number6
Enter second number7
Enter third number3
The largest among 6 , 7 , 3 is 7

In [ ]:
#swap with temp

x = int(input("enter a number"))
y = int(input("enter another number"))

temp = x

x = y

y = temp

print("After swapping: ")
print("X = ",x)
print("Y = ",y)

enter a number7
enter another number8
After swapping:
X =  8
Y =  7

In [ ]:
#swap without temp

x = int(input("enter a number"))
y = int(input("enter another number"))

x , y = y , x

print("After swapping: ")
print("X = ",x)
print("Y = ",y)

enter a number6
enter another number7
After swapping:
X =  7
Y =  6

In [ ]:
ch = input("Enter a character: ")
if (ch == "A" or ch == "E" or ch == "I" or ch == "O" or ch == "U" or ch == "a" or ch == "e" or ch == "i" or ch == "o" or ch == "u"):
  print("ch is a vowel")
else:
  print("ch is a consonant")

Enter a character: v
ch is a consonant

In [1]:
def name_of_the_func():
  print(2)

name_of_the_func()

2

In [3]:
def say_hello():
  print("hello")

In [4]:
say_hello()

hello

In [7]:
def say_name(name):
  print(f"Hello {name}")

say_name("Nerchuko")

Hello Nerchuko

In [8]:
def add_num(num1,num2):
  return num1 + num2

print(add_num(3,4))

7

In [13]:
print(add_num("Welcome to India", " BTS"))

Welcome to India BTS

In [18]:
#prime or not

import math

def is_prime(num):
  if num % 2 == 0 and num > 2:
    return False
  else:
    return True

  #for i in range(3, int(math.sqrt(num))+1):
   # if num % i == 0:
     # return False
  #return True

In [21]:
is_prime(11)

True

In [22]:
#LCM of two numbers

def lcm(x,y):
  if x > y:
    greater = x
  else:
    greater = y

  while True:
    if (greater % x == 0) and (greater % y == 0):
      lcm = greater
      break
    greater+=1
  return lcm

num1 = int(input("enter the first number: "))
num2 = int(input("enter the second number: "))

LCM = lcm(num1,num2)
print(f"The Lcm of {num1} and {num2} = {LCM}")

enter the first number: 3
enter the second number: 4
The Lcm of 3 and 4 = 12

In [26]:
def lcm(x,y):
  if x > y:
    greater = x
  else:
    greater = y

  while True:
    if (greater % x == 0) and (greater % y == 0):
      lcm = greater
      break
    greater+=1
  return lcm

num1 = int(input("enter the first number: "))
num2 = int(input("enter the second number: "))

LCM = lcm(num1,num2)
print(f"The LCM of {num1} and {num2} = {LCM}")

enter the first number: 13
enter the second number: 12
The LCM of 13 and 12 = 156

In [27]:
#armstrong

num = int(input("enter a number: "))

sum = 0

temp = num

while temp:
  digit = temp%10
  sum += digit**3
  temp //= 10

if num == sum:
  print(f"{num} is an armstrong number")
else:
  print(f"{num} IS not an armstrong number")

enter a number: 153
153 is an armstrong number

In [28]:
#power
def power(base,expo):
  if expo == 1:
    return base
  return base*power(base,expo-1)

base = int(input("enter base: "))
exp = int(input("enter exp: "))

result = power(base,exp)

print(result)

enter base: 5
enter exp: 2
25

In [29]:
def power(base,expo):
  if expo == 1:
    return base
  return base*power(base,expo-1)

base = int(input("enter base: "))
exp = int(input("enter exponent: "))

result = power(base,exp)

print(result)

enter base: 2
enter exponent: 5
32